*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#0f0f0f;
    color:white;
    transition:0.3s;
}

.light-mode{
    background:white;
    color:black;
}

#preloader{
    position:fixed;
    width:100%;
    height:100%;
    background:#000;
    z-index:9999;
}

/* NAV */
nav{
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
    background:#111;
    position:sticky;
    top:0;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

#modeToggle{
    background:none;
    border:none;
    color:white;
    cursor:pointer;
}

/* HERO */
.hero{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:100px 20px;
    flex-wrap:wrap;
}

.hero-img img{
    width:280px;
    border-radius:50%;
}

/* GRID */
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:20px;
}

.card{
    background:#1e1e1e;
    padding:20px;
    border-radius:10px;
    text-align:center;
    transition:0.3s;
}

.card:hover{
    background:#00f7ff;
    color:black;
}

.stat{
    text-align:center;
}

section{
    padding:80px 20px;
    text-align:center;
}

.btn{
    padding:10px 20px;
    background:#00f7ff;
    border:none;
    cursor:pointer;
    margin-top:40px;  
}
    
    
    



form{
    display:flex;
    flex-direction:column;
    max-width:400px;
    margin:auto;
}

form input, form textarea{
    margin:10px 0;
    padding:10px;
}

#topBtn{
    position:fixed;
    bottom:20px;
    right:20px;
    padding:10px;
    display:none;
}

footer{
    padding:20px;
    background:#111;
    text-align:center;
}

